@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body { 
    background-color:#131313;
}

h1 { 
    color: white;
    font-family: Roboto;
}

h2 {
    color: slateblue;
}


.media-picture { 
    background-image: url(https://img.elo7.com.br/product/main/2642983/painel-de-festa-vingadores-avengers-guerra-infinita-herois-doutor-estranho.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: top;
}

.review-score { 
    background-color: #e6bd09;
    color: white;
    padding: 12px;
}

p {
    color: #bdbdbd;
    font-family: Roboto; 
}

a {
    color: yellow
}